.title-bar{

}

.title-row{
    background-color: darkmagenta;
    color: white;
    padding-left: 50px;
    margin-top: 20px;
    font-size: 32px;
    padding-top: 3px;
    padding-bottom: 3px;

}
body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #f9f9f9;
    color: #7f7179;
}

.navbar-list{
    list-style-type: none;
    display: inline;
    text-align: center;
    
}
nav li{
    display: inline;
    padding-right: 15px;
    
}

header{
}

.navbar{
    
}

.logo{
    float: left;
    padding-right: 250px;
}

a{
    text-decoration: none;
    color: purple;
    
}

a:hover{
    font-weight: bold;
}

ul{
    list-style-type: none;
}

.side-menu{
    font-size: 14px;
}

li{
    margin-bottom: 25px;
}